.footer
  a(target="_blank", href="/")
    span Theme by 
  a(href="https://www.caicai.me")  CaiCai 
  span &
  a(href="https://github.com/Ben02/hexo-theme-Anatole")  Ben
  .by_farbox
    a(href="https://hexo.io/zh-cn/", target="_blank") Proudly published with Hexo&#65281;
  script.
    var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1267679219'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1267679219%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
